.App {
  text-align: center;
}


/* .card{
  height: 400px;
  overflow: hidden;
} */
.card:hover .hover-div {
  opacity: .5;
}
.hover-div {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 9px;
  right: 0;
  height: 79%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
