.App {
  text-align: center;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px
}

img {
  height: 300px;
  width: 250px;
}

.scroll-btn::-webkit-scrollbar-button {
  background: #ccc
}

.scroll-btn::-webkit-scrollbar-track-piece {
  background: #eee
}

.scroll-btn::-webkit-scrollbar-thumb {
  /* width: 2px; */
  background: gray;
  border-radius: 3px;
  height: 40px;
}
.scroll-btn::-webkit-scrollbar {
  width: 8px;
}
.card:hover .hover-div {
  opacity: .5;
}

.hover-div {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 9px;
  right: 0;
  height: 79%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 320px) and (max-width: 578px) {
  img {
    height: 318px;
    width: 341px;
  }
  .card{
    margin-right: 10px;
  }

}